@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'variables';
@import 'blocks/stars';
@import 'blocks/card';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
